---
import HeadingBlock from "./HeadingBlock.astro";
import ImageBlock from "./ImageBlock.astro";
import MarkdownBlock from "./MarkdownBlock.astro";
import type { ContentBlock } from "../content/projects/types";
import { cn } from "../utils/cn";

const { block, class: className = "" } = Astro.props as {
  block: ContentBlock;
  class?: string;
};

const classes = cn(
  block.type === "h3" && "mt-4 first:mt-0",
  block.type === "md" && "",
  block.type === "ul" && "flex list-disc flex-col gap-3 pl-5",
  block.type === "image" && "",
  block.type === "callout" &&
    "grid gap-3 rounded-4xl bg-(--description-bg)/25 p-4 sm:p-6",
  block.type === "code" &&
    "overflow-x-auto rounded-4xl bg-black/10 p-4 text-sm sm:p-6",
  className,
);
---

{
  block.type === "h3" ? (
    <HeadingBlock as="h3" style="h3" class={classes}>
      {block.text}
    </HeadingBlock>
  ) : block.type === "md" ? (
    <MarkdownBlock value={block} class={classes} />
  ) : block.type === "ul" ? (
    <ul class={classes}>
      {block.items.map((item) => (
        <li>
          <MarkdownBlock value={item} />
        </li>
      ))}
    </ul>
  ) : block.type === "image" ? (
    <ImageBlock
      src={block.src}
      alt={block.alt}
      caption={block.caption}
      class={classes}
    />
  ) : block.type === "callout" ? (
    <aside class={classes}>
      {block.title && <HeadingBlock style="h4">{block.title}</HeadingBlock>}
      <MarkdownBlock value={block.content} />
    </aside>
  ) : (
    <pre class={classes}>
      <code>{block.code}</code>
    </pre>
  )
}
