---
import ImageBlock from "./ImageBlock.astro";
import MarkdownBlock from "./MarkdownBlock.astro";
import type { ContentBlock } from "../content/projects/types";
import { cn } from "../utils/cn";

const { block, class: className = "" } = Astro.props as {
  block: ContentBlock;
  class?: string;
};

const classes = cn(
  block.type === "h3" && "heading-3",
  block.type === "md" && "",
  block.type === "ul" && "flex list-disc flex-col gap-3 pl-5",
  block.type === "image" && "",
  block.type === "callout" && "grid gap-3 border-l border-linework pl-4",
  block.type === "code" &&
    "overflow-x-auto border border-neutral-200 p-4 text-sm",
  className,
);
---

{
  block.type === "h3" ? (
    <h3 class={classes}>{block.text}</h3>
  ) : block.type === "md" ? (
    <MarkdownBlock value={block} class={classes} />
  ) : block.type === "ul" ? (
    <ul class={classes}>
      {block.items.map((item) => (
        <li>
          <MarkdownBlock value={item} />
        </li>
      ))}
    </ul>
  ) : block.type === "image" ? (
    <ImageBlock
      src={block.src}
      alt={block.alt}
      caption={block.caption}
      class={classes}
    />
  ) : block.type === "callout" ? (
    <aside class={classes}>
      {block.title && <p class="heading-3">{block.title}</p>}
      <MarkdownBlock value={block.content} />
    </aside>
  ) : (
    <pre class={classes}>
      <code>{block.code}</code>
    </pre>
  )
}
